[Desktop Entry]
Encoding=UTF-8
Name=IDCC
Comment=IDCC P2P Cryptocurrency
Exec=idcc-qt %u
Terminal=false
Type=Application
Icon=idcc128
MimeType=x-scheme-handler/idcc;
Categories=Office;Finance;
Name[en_AU]=IDCC
