[Unit]
Description=IDCC's distributed currency daemon
After=network.target

[Service]
User=idcc
Group=idcc

Type=forking
PIDFile=/var/lib/idccd/idccd.pid

ExecStart=/usr/bin/idccd -daemon -pid=/var/lib/idccd/idccd.pid \
          -conf=/etc/idcc/idcc.conf -datadir=/var/lib/idccd

ExecStop=-/usr/bin/idcc-cli -conf=/etc/idcc/idcc.conf \
         -datadir=/var/lib/idccd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
